
/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #007BFF;
    --text-color: #484848;
    --bg-color: #F7F7F7;
    --input-bg: #fff;
    --input-border: #EBEBEB;
    --input-shadow: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh; 
    padding-top: 40px; 
}

.container, .questions-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background: #fff;
    margin-bottom: 30px;
  }

.questions-container {
    display: none;
  }

.question {
    background-color: #f0f0f0; /* light grey background */
    padding: 20px;
    margin-bottom: 20px; /* space between questions */
    font-weight: bold;
}

.question p {
    margin-bottom: 10px;
}

  

h2 {
    font-size: 2em; /* 32px */
    color: var(--primary-color);
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}


p {
    font-size: 1.5em; 
    margin-bottom: 1em;
    font-weight: bold
}

select {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    border-radius: 4px;
    font-family: inherit;
    font-size: 1em; /* 16px */
    box-shadow: 0 2px 4px var(--input-shadow);
    appearance: none;
}

select:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px var(--primary-color);
}

.input-text {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    border-radius: 4px;
    font-family: inherit;
    font-size: 1em; /* 16px */
    box-shadow: 0 2px 4px var(--input-shadow);
    appearance: none;
}

.option-button.button {
    background-color: #ffffff; 
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px; 
    margin-top: 20px;
    width: 150px;
}

.option-button.button:hover {
    background-color: #b8b8b8; 
}

.option-button.button.selected {
    font-weight: bold;
    background-color: #007bff;
    color: #ffffff;
}

.error-message {
    color: #FF5A5F;
}


/* Utility Classes */
.text-center {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}
